<div *ngIf="users.length>0;else noData">
    <ul>
        <li *ngFor="let user of users">
            <p><strong>id:</strong> {{user.id}}</p>
            <p><strong>firstName:</strong>{{user.firstName}}</p>
            <p><strong>lastName:</strong>{{user.lastName}}</p>
            <p><strong>email:</strong>{{user.email}}</p>
            <p><strong>emailVerifiedAt:</strong>{{user.emailVerifiedAt}}</p>
            <p><strong>password:</strong>{{user.password}}</p>
            <p><strong>imageId:</strong>{{user.imageId}}</p>
            <p><strong>rememberToken:</strong>{{user.rememberToken}}</p>
            <p><strong>createdAt:</strong>{{user.createdAt}}</p>
            <p><strong>updatedAt:</strong>{{user.updatedAt}}</p>
        </li>
    </ul>
</div>

<ng-template #noData>
    <p>No User's found or failed to fetch data.</p>
</ng-template>