<div class="row">
    <div class="col-12 text-center">
        <h2>Contact List</h2>
    </div>
</div>

<div class="row pt-3">
    <div class="col-12">
        <div class="card">
            <div class="card-header bg-warning text-center">
                <h5>Contact list</h5>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>S.No</th>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Phone</th>
                                <th>Website</th>
                                <th>Status</th>
                                <th>Facebook</th>
                                <th>Notes</th>
                                <th>GST</th>
                                <th>Due listing</th>
                                <th>Created By</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let contact of contacts">
                                <td>{{contact.contactId}}</td>
                                <td>{{contact.name}}</td>
                                <td>{{contact.email}}</td>
                                <td>{{contact.phone}}</td>
                                <td>{{contact.website}}</td>
                                <td>{{contact.status ? 'Active' : 'Inactive'}}</td>
                                <td>{{contact.facebook}}</td>
                                <td>{{contact.notes}}</td>
                                <td>{{contact.gst}}</td>
                                <td>{{contact.dueListing ? 'Yes' : 'No'}}</td>
                                <td>{{contact.createdBy}}</td>

                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>