<div class="row p-3">
    <div class="col-12">
        <div class="card">
            <div class="card-header text-center text-white bg-warning">
                <h5 class="text-white m-0"> {{ pageTitle}}</h5>
            </div>

            <div class="card-body pt-3">
                <form>
                    <div class="row">
                        <div class="col-md-4"> 
                            <label for="name">Name</label>
                            <input id="name" type="text" [(ngModel)]="contactTypeObj.contactTypeName"
                                name="contactTypeName" class="form-control" placeholder="Enter Contact Type Name">
                        </div>
                        <div class="col-md-4"> 
                            <label for="code">Code</label>
                            <input id="code" type="text" [(ngModel)]="contactTypeObj.contactTypeCode"
                                name="contactTypeCode" class="form-control" placeholder="Enter Contact Type Code">
                        </div>
                        <div class="col-md-4">
                            <label for="nature">Nature</label>
                            <input id="nature" type="text" [(ngModel)]="contactTypeObj.contactNature"
                                name="contactNature" class="form-control" placeholder="Enter Contact Type nature">
                        </div>
                    </div>
                    <div class="row pt-4">
                        <div class="d-flex gap-2 justify-content-end">
                            <button class="btn btn-secondary" (click)="resetContactType()">Reset</button>
                            <button class="btn btn-success" (click)="saveContactType()"> {{ buttonLable }}</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>